body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: "Staatliches";
    src: url(./fonts/Staatliches-Regular.ttf);
}

#header,
.playerScore,
.square {
    font-family: "Staatliches";
}

#header {
    font-size: 116px;
    margin: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    align-self: center;

}

.scores {
    display: flex;
    justify-content: space-between;
}

#board {
    justify-self: center;

    border: 1px solid black;

    width: 450px;
    height: 450px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    margin-left: auto;
    margin-right: auto;

}

.square {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 148px;
    min-height: 148px;
    font-size: 80px;
}


.playerScore {
    align-items: center;
    display: flex;;
    font-size: 42px;
}

#p1Score,
#p2Score {
    margin-left: 12px;
}

.endScore {
    text-align: center;
    position: absolute;
    top: 25%;

    display: none;
}