body {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: "Staatliches";
    src: url(./fonts/Staatliches-Regular.ttf);
}

#header,
.playerScore,
.square {
    font-family: "Staatliches";
}

.container {
    width: 60vw;
    display: flex;
    align-self: center;
    
    justify-content: center;
}

#board {
    justify-self: center;

    border: 1px solid black;

    width: 450px;
    height: 450px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    margin-left: auto;
    margin-right: auto;

}

.square {
    border: 1px solid black;
}

.playerScore p {
    display: inline;
}

.playerScore {
    width: 80px;
}

.endScore {
    text-align: center;
    position: absolute;
    top: 25%;

    display: none;
}